UIElementsSchema/Unity.Behavior.GraphFramework.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Unity.Behavior.GraphFramework" elementFormDefault="qualified" targetNamespace="Unity.Behavior.GraphFramework" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="UnityEngine.UIElements.xsd" namespace="UnityEngine.UIElements" />
  <xs:complexType name="EditableLabelType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="UnityEngine.UIElements" base="q1:BindableElementType">
        <xs:choice />
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute name="value" type="xs:string" />
        <xs:attribute name="text" type="xs:string" />
        <xs:attribute default="false" name="delayed" type="xs:boolean" />
        <xs:attribute default="false" name="multiline" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EditableLabel" xmlns:q2="UnityEngine.UIElements" substitutionGroup="q2:BindableElement" type="tns:EditableLabelType" />
  <xs:complexType name="GraphToolbarType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="UnityEngine.UIElements" base="q3:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GraphToolbar" xmlns:q4="UnityEngine.UIElements" substitutionGroup="q4:VisualElement" type="tns:GraphToolbarType" />
  <xs:complexType name="GraphEditorType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="UnityEngine.UIElements" base="q5:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GraphEditor" xmlns:q6="UnityEngine.UIElements" substitutionGroup="q6:VisualElement" type="tns:GraphEditorType" />
  <xs:complexType name="GraphViewType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="UnityEngine.UIElements" base="q7:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GraphView" xmlns:q8="UnityEngine.UIElements" substitutionGroup="q8:VisualElement" type="tns:GraphViewType" />
  <xs:complexType name="BlackboardType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="UnityEngine.UIElements" base="q9:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Blackboard" xmlns:q10="UnityEngine.UIElements" substitutionGroup="q10:VisualElement" type="tns:BlackboardType" />
  <xs:complexType name="InspectorType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q11="UnityEngine.UIElements" base="q11:VisualElementType">
        <xs:choice />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Inspector" xmlns:q12="UnityEngine.UIElements" substitutionGroup="q12:VisualElement" type="tns:InspectorType" />
</xs:schema>